body
{
    background-color:cornflowerblue;
}
#Spotify{
    margin-left: 38%;
}
#Name {
    margin-left: 30.75%;
}
#Phone {
    margin-left: 30%;
}
#CreditCard {
    margin-left: 28.2%;
}
#subs {
    margin-left: 27.58%
}
#info {
    margin-left: 30%;
}
#Grids {
    margin-left: 30%;
}
#buttons {
    margin-left: 30%;
}
#Error {
    margin-left: 30%;
}